.hero {
    background-color:var(--verde-claro-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 25px;
}

.heroText h1 {
    color: var(--cor-escura-fonte);
    font-size: 64px;
}

.heroText p {
    color: var(--cinza-neutro);
    font-size: 16px;
}

.heroTextDestaque {
    color:var(--verde-principal) ;
}

.heroTextPrincipal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.heroBotao {
    background-color: var(--verde-principal);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: var(--branco);
}

@media screen and (max-width: 1100px) {
    .hero {
        flex-direction: column-reverse;
    }

    .heroText {
        max-width: 75%; 
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .hero img {
        width: 70%;
        margin-left: 50px;
    }

    .heroText {
        max-width: 90%;
    }

    .heroText h1 {
        font-size: 40px;
    }

    .heroText p {
        font-size: 10px;
    }
}