@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("header.css");
@import url("main.css");
@import url("clients.css");
@import url("content.css");
@import url("helping.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: var(--cor-escura-fonte);
}

p {
    color: var(--cinza-neutro);
}

h2 {
    color: var(--cor-escura-fonte);
}

:root {
    --branco: #fff;
    --verde-principal: #15972f;
    --verde-claro-fundo: #F5F7FA;
    --cor-escura-fonte: #18191F;
    --cinza-neutro: #717171;
}

